.markdown-content {
  font-size: 16px !important;
  max-height: 745px;
}

.show-html {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  height: 745px;
  overflow: auto;
}

.show-html h1 {
  font-size: 30px;
}

.show-html h2 {
  font-size: 28px;
  border-bottom: 1px solid #cbcbcb;
}

.show-html h3 {
  font-size: 24px;
}

.show-html pre {
  display: block;
  padding: 5px;
  border-radius: 5px;
}

.show-html code {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 3px;
}

.show-html blockquote {
  border-left: 4px solid #cbcbcb;
  padding: 10px 10px 10px 30px;
}

.introduce-html {
  border-radius: 5px;
  font-size: 16px;
}

.introduce-html h1 {
  font-size: 30px;
}

.introduce-html h2 {
  font-size: 28px;
  border-bottom: 1px solid #cbcbcb;
}

.introduce-html h3 {
  font-size: 24px;
}

.introduce-html pre {
  display: block;
  padding: 5px;
  border-radius: 5px;
}

.introduce-html pre > code {
  color: #000;
}

.introduce-html code {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0px 3px;
  color: #ff502c;
}

.introduce-html blockquote {
  border-left: 4px solid #cbcbcb;
  padding: 10px 10px 10px 30px;
}

.date-select {
  margin-top: 10px;
}

.upload-image {
  position: relative;
}

.upload-image button {
  z-index: 0;
}

.upload-image input {
  position: absolute;
  width: 96px;
  height: 40px;
  top: -11px;
  left: 0;
  z-index: 1;
  opacity: 0;
}

